<section class="page-view">
  <form id="create-form" action="/page" method="POST">

    <div class="row">
      <div class="col-sm-2">
        <h1>Step 1</h1>
      </div>
      <div class="col-sm-10">
        <h2>Choose A Section</h2>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-12">

        <select name="path" class="selectpicker" data-width="auto" required>
          <option></option>
          {{#each pages}}
            {{#each this}}
              <option value="{{formatUrl @key}}">{{@key}}</option>
                <optgroup label="{{@key}}">
                  {{#each this}}
                    {{#each this}}
                      {{#isArray this}}
                        <option value="{{formatUrl @../../key}}/{{formatUrl @key}}">{{@key}}</option>
                      {{/isArray}}
                    {{/each}}
                  {{/each}}
                </optgroup>
            {{/each}}
          {{/each}} 
        </select>
      
      </div>
    </div>

   

    <br>
    <br>
    <hr> 

    <div class="row">
      <div class="col-sm-2">
        <h1>Step 2</h1>
      </div>
      <div class="col-sm-10">
        <h2>Name The Page</h2>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-5 form-group">
        <input type="text" placeholder="Title" class="form-control" name="name" required>
      </div>
    </div>

    <br>
    <br>
    <hr>

    <div class="row">
      <div class="col-sm-2">
        <h1>Step 3</h1>
      </div>
      <div class="col-sm-10">
        <h2>Select Modules</h2>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-12">

        <div class="panel-group sortable" id="accordion" role="tablist" aria-multiselectable="true">
          {{#each templates}}
            <div id="panel{{@index}}" class="panel panel-default ui-state-default remove-module tab-module">

              <div class="panel-heading" role="tab" id="heading{{@index}}">
                <h4 class="panel-title row">
                <div class="col-xs-6 col-sm-8">
                  <a class="collapse-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}"><i class="fa fa-arrows-v fa-fw"></i> Module #{{@index}}</a>
                </div>
                <div class="col-xs-2">
                  <a href="#" class="clone-btn" data="{{@index}}">Clone</a>
                </div>
                <div class="col-xs-2 kill-switch">
                  <input id="switch{{@index}}" type="checkbox" class="switch" data="#panel{{@index}}">
                </div>
                </h4>
              </div>

              <div id="collapse{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@index}}">
                <div class="panel-body" name="content{{@index}}">
                  <textarea name="content" style="display:none;">{{> (lookup . 'template') }}</textarea>
                  {{> (lookup . 'template') }}
                </div>
              </div>

            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <br>
    <br>
    <hr>

    <button type="submit" class="btn btn-default btn-block">Create</button>
  </form>
</section>