<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta charset="utf8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <title>{{site_name}} CMS</title>
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
  </head>
  <body>
    
    <div id="wrapper">
      {{> header}}
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <br>
            <br>

            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa {{#if err}}fa-exclamation-triangle{{else}}{{ICON}}{{/if}} fa-fw"></i> 
                {{#if err}}
                  Error
                {{else}}
                  {{#if TITLE }}
                    {{TITLE}}
                  {{else}}
                    {{startCase page}}
                    <div class="delete-modal">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Delete {{page}} Page</h4>
                          </div>

                          <form action="/delete/{{page}}" method="POST">
                            <div class="modal-body">
                              <input name="page" type="hidden" value="{{formatUrl page}}">
                              Are you sure you want to delete?
                            </div>

                            <div class="modal-footer">
                              <a class="btn btn-default" data-dismiss="modal">Close</a>
                              <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  {{/if}}                
                {{/if}}

              </div>
              
              <div class="panel-body">
                {{{body}}}
              </div>
            </div>

          </div>
        </div>
      </div> 
    </div>

    <script type="text/javascript" src="/js/libs/jquery.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/libs/sortable.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="/js/libs/metisMenu.js"></script>
    <script type="text/javascript" src="/js/libs/collapse.js"></script>
    <script type="text/javascript" src="/js/libs/trumbowyg.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap-switch.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap-select.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.ui.nestedSortable.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>